<center>
    
    <p><em><%= @tesis.locabr %></em></p>
    <br>
    <h3><%= @tesis.rubro %></h3>
    <br>
    <p><%= @tesis.texto %></p>
    <br><br>
    <p><em><%= @tesis.precedentes %></em></p>

</center>