<h1>Welcome!</h1>

<%= form_for @changeset, auth_path(@conn, :login), fn f -> %>
  <%= text_input f, :email, placeholder: "Email", required: true %>
  <br>
  <%= text_input f, :password, placeholder: "Password", required: true %>
  <br>
  <br>
  <%= submit "LOG IN"%>

<% end %>