<div class="text-center">
  <div class="lawname"> 
    <strong>
      <%= @law.name %>
    </strong>
  </div>
  <br>
  <br>
  <div class="lawhead"> 
    <p>
      <%= @law.header %>
    </p>
  </div>
  <br>

  <%= for article <- @articles do %>

  <div class="numarticulo">
    <em>
      <strong>
        <%= article.article_number %>
      </strong>
    </em>
  </div>
  <div class="textoarticulo">
    <%= article.article_body %>
  </div>
  <br>
  <br>
  <% end %>
</div>

