<div class="row">
  <div class="text-center">
    <h1>
      Forgot your password?
    </h1>
    <p>
      Enter your email and a new password, we'll email you a link to verify this action.
    </p>
  <%= form_for @changeset, auth_path(@conn, :new_password), fn f -> %>
    <%= text_input f, :email, placeholder: "Email", required: true %>
<br>
    <%= text_input f, :password, placeholder: "New password", required: true %>
<br>
<br>
    <%= submit "CHANGE PASSWORD"%>
  <% end %>
  </div>
</div>
