<div class="row">
  <div class="text-center">
    <h1>
      Olvidaste tu contraseña?
    </h1>
    <p>
      Introduce tu eMail y te mandaremos instrucciones.
    </p>
  <%= form_for @changeset, auth_path(@conn, :new_password), fn f -> %>
    <%= text_input f, :email, placeholder: "eMail", required: true %>
<br>
    <%= text_input f, :password, placeholder: "Nueva Contraseña", required: true %>
<br>
<br>
    <%= submit "Cambiar Contraseña"%>
  <% end %>
  </div>
</div>
